body{
    background-color: black;
    color: white;
    }

    .App {
        display:flex;
        justify-content: center;
    }

    .calc-wrapper{
        background-color: white;
        width: 200px;
        border-radius: 10px;
        
    }
    .row{
        display: flex;
        flex: 5;
    }